# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
Scripts/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Static & media (optional)
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db